<button id="theme-toggle" aria-label="Toggle theme">
    <svg id="sun-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
      <circle cx="12" cy="12" r="5"/>
      <g>
        <polygon points="12,2 14,6 10,6"/>
        <polygon points="12,22 14,18 10,18"/>
        <polygon points="2,12 6,14 6,10"/>
        <polygon points="22,12 18,14 18,10"/>
        <polygon points="5,5 7,9 9,7"/>
        <polygon points="19,5 15,7 17,9"/>
        <polygon points="5,19 7,15 9,17"/>
        <polygon points="19,19 15,17 17,15"/>
      </g>
    </svg>
    <svg id="moon-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
      <path d="M21 12.79A9 9 0 1 1 11.21 3a7 7 0 0 0 9.79 9.79z"/>
    </svg>
  </button>
  